@import url(https://fonts.googleapis.com/css?family=Overpass);
@import url(https://fonts.googleapis.com/css?family=Young+Serif);
/*@import url(https://fonts.googleapis.com/css?family=DM+Serif+Text);*/
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Serif);

body { 
    background-color:#1f2c3a; 
    font-family: IBM Plex Serif;
}

.construction {
    background: none;
    background-image: url('images/starglitter_200.gif');
    background-repeat: repeat;
    height: 100%;
    width: 100%;
}

/*div defs*/
.snow {
  background: none;
  font-family: Androgyne;
  background-image: url('images/s1.png'), url('images/s2.png'), url('images/s3.png');
  /*height: 100%;*/
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
  -webkit-animation: snow 30s linear infinite;
  -moz-animation: snow 30s linear infinite;
  -ms-animation: snow 30s linear infinite;
  animation: snow 30s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 1000px 1000px, -400px 400px, 300px 300px;}
}
@-moz-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 1000px 1000px, -400px 400px, 300px 300px;}
}
@-webkit-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 1000px 1000px, -400px 400px, 300px 300px;}
}
@-ms-keyframes snow {
    0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
    100% {background-position: 1000px 1000px, -400px 400px, 300px 300px;}
}


.update-title{
    margin-top: 140px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-width: 800px;
    display: flex;
    align-items: left;
    justify-content: center;
    background: lightblue;
    padding: 10px;
}

.update-box{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightblue;
    padding: 5px;
}

.update-photobox{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-width: 700px;
    /*width: 100%;*/
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightblue;
    padding: 5px;
}

.update-footnote{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-width: 700px;
    display: flex;
    align-items: left;
    justify-content: left;
    background: rgb(104, 148, 163);
    padding: 10px;
}

.update-img{
    align-self: left;
    max-width: 600px;
    max-height: 400px;
    /*width: 100%;*/
    /*float: left;*/
}

.update-text {
  margin: auto;
  max-width: 70%;
  min-width: 30%;
  height: auto;
  padding-left: 10px;
  /*background: lightblue;*/
} 

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*page elements*/
p1 {
    /*background-color: lightblue;*/
    font-family: 'Overpass', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

p2 {
    /*background-color: lightblue;*/
    color: aliceblue;
    font-family: 'Overpass', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

